<a href="https://colab.research.google.com/github/kaethejulian/CPEN65-1/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Accessing the elements in Array
animals = ["cat","dog","fish"]
x=animals [0]
y=animals [1]
z=animals [2]
print("Array[0]=",x)
print("Array[1]=",y)
print("Array[2]=",z)

Array[0]= cat
Array[1]= dog
Array[2]= fish

In [6]:
#Modifying the elements in Array
animals = ["cat","dog","fish"]
animals[0] = "monkey"
x=animals[0]
print("Array [0]",x)
print(animals)

Array [0] monkey
['monkey', 'dog', 'fish']

In [9]:
#Length of the Array
animals = ["monkey","dog","fish","cat","birds"]
v=len(animals) #len or length tells thee number of elements inside an array
print(v)

5

In [19]:
#Looping elements in Array
animals = ["monkey","dog","fish","cat","birds"]

for x in animals:
  print(x)

monkey
dog
fish
cat
birds

In [20]:
animals = ["monkey","dog","fish","cat","birds"]
for index,val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 birds

In [22]:
#Adding/Appending elements in array
animals = ["monkey","dog","fish","cat","birds"]
animals.append("lion") #added another element in the last place
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [25]:
numbers=[1,2,3,4,5,6,7,8,9,10] #012345678...
numbers.insert(1,11) #1 is the location inside the array, 11 is the new input that you'll be inputting
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#Removing an Element in Array
animals = ["monkey","dog","fish","cat","birds"]
animals.pop(1) #1 is the index number in an array
print(animals)

['monkey', 'fish', 'cat', 'birds']

In [28]:
numbers=[1,2,3,4,5,6,7,8,9,10]
numbers.insert(1,11)
numbers.pop(2)
print(numbers)

[1, 11, 3, 4, 5, 6, 7, 8, 9, 10]